#findButton {
  margin: 1%;
  margin-left: 2%;
  width: auto;
  height: 3.4rem;
}

#clearButton {
  margin: 1%;
  width: auto;
  height: 3.4rem;
}

#restCard {
  width: 300;
  margin-top: 4%;
}

.light {
  #data {
    background-color: #d7d2c9;
    transition: all 1s ease;
  }

  #zipCodeForm {
    background-color: #d7d2c9;
    transition: all 1s ease;
  }

  #findButton {
    color: #545454;
    background-color: #dce6ec;
    transition: all 0.6s ease-in-out;
  }

  #findButton:hover {
    background-color: #e6f0f6;
  }

  #clearButton {
    background-color: #6a7a82;
    transition: all 0.6s ease-in-out;
  }

  #clearButton:hover {
    background-color: #889ca6;
  }

  #restCard {
    background: #a2b0b8;
    color: white;
    transition: all 1s ease;
  }
}

.dark {
  #data {
    background-color: #9ca9a7;
    transition: all 1s ease;
  }

  #zipCodeForm {
    background-color: #9ca9a7;
    transition: all 1s ease;
  }

  #findButton {
    background-color: #cad4d9;
    color: #7f919c;
    transition: all 0.6s ease-in-out;
  }

  #findButton:hover {
    background-color: #e4eef3;
  }

  #clearButton {
    color: white;
    background-color: #7f919c;
    transition: all 0.6s ease-in-out;
  }

  #clearButton:hover {
    background-color: #9eb3c0;
  }

  #restCard {
    background: #6b797a;
    color: white;
    transition: all 1s ease;
  }
}
