#breakReminder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;

  #formControl {
    display: flex;
    justify-content: center;
    align-items: center;

    #timerDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      font-family: fantasy; // TODO: custom Google font
      margin: 7px 0px 7px 0px;
    }
  }
}
