#formContainer{
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d6d8db;
  width:300px;
  height: 350px;
  border-radius: 8px;

  h2{
    color: #6C6B70;
  }

  #buttonCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #loginButton{
      margin-top: 6%;
      background-color: #e5ecf4;
      color:#7C8288;
      width: 100px;
      border-radius: 10px;
      transition: all 0.6s ease-in-out;
    }

    #loginButton:hover{
      background-color: #f7f8f9;
      border-color: #f7f8f9;
    }
  }
}