.header1 {
  display: flex;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 38px;
  margin-bottom: 3rem;
}
.title {
  width: 80%;
  margin: auto;
  padding: 0.75rem;
}
.switch-theme {
  align-self: center;
  margin: 2.2rem;
}
