input {
  outline: none;
  resize: none;
}


.light{
  #notesCont{
    background-color: rgb(244, 244, 244);
  }
  .note {
    box-shadow: 2px 2px 3px lightgrey;
  }
  .note_editbox {
    color:#424951;
    background-color: #cbd8ea;
  }
  .note__delete {
    color: #121212;
    background-color: #cbd8ea;
    transition: all 0.6s ease-in-out;
  }
  
  .note__delete:hover {
    color: black;
    cursor: pointer;
  }

  #notePadTitle{
    background-color: rgb(209, 209, 209);
    box-shadow: 6px 6px 6px #a7a6a6;

    h2{
      color: #8a9593;
      margin-bottom: 6%;
    }
  }

  #singleNotepad{
    background: #cbd8ea;
  }

  #notePadTitleCont{
    background-color: rgb(244, 244, 244);
  }
}

.dark{
  #notesCont{
    background-color: rgb(20, 20, 20);
  }

  .note {
    box-shadow: 2px 2px 3px lightgrey;
  }

  .note_editbox {
    color:#424951;
    background-color: #beb8ae;
  }

  .note__delete {
    color: #565f60;
    background-color: #beb8ae;
    transition: all 0.6s ease-in-out;
  }
  
  .note__delete:hover {
    color: black;
    cursor: pointer;
  }

  #notePadTitle{
    background-color: #829BA7;
    box-shadow: 6px 6px 6px #4e4e4e;

    h2{
      color: #cad6d4;
      margin-bottom: 6%;
    }
  }

  #singleNotepad{
    background: #beb8ae;
  }

  #notePadTitleCont{
    background-color: rgb(20, 20, 20);
  }

}
.note {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__text {
  width: 100%;
  padding: 8px 14px;
  background: transparent;
  font-size: 30px;
  font-weight: 800pt;
  font-family: 'Waiting for the Sunrise', cursive;
}

.note__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
  padding: 5px;
  border: none;
}

.note_editbox {
  position: absolute;
  border: none;
  width: 100%;
  bottom: 0px;
  font-size: 20px;
}

.input__notes {
  border: none;
  margin: 10px;
}

#notePadTitleCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
}

#notePadTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:8%;
  border-radius: 8px;
  height:200px;
  width:400px;
}

.notes__parent{
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}