#rubberDucky {
  display: block;
  width: 200px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 12;

  animation: bounce 1s infinite alternate;
  transition: transform 2s;
}

#rubberDucky:hover {
  animation: 1s;
  transform: scale(1.5) rotate(-10deg) translateX(-20px) translateY(-20px);
}

#rubberDucky[ducky='1'] {
  animation: 1s;
  transform: scale(15.5) rotate(-10deg) translateX(-20px) translateY(-20px);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

#popoverHeader {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-align: center;
  background-color: beige;
  color: grey;
}

#popoverBody {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: grey;
  color: beige;
}
