.App {
  text-align: center;
}


.dark {
  text-align: center;
  background: rgb(101, 64, 64);
  color: rgb(243, 192, 251);
}

.light {
  text-align: center;
  
  background: rgb(173, 204, 215);
  color: rgb(42, 24, 24);
}


